![Algoritmos e Estrutura de Dados I](AED1_banner.jpg)

## <font color='blue'>Algorítmos e Estrutura de Dados I</font>
### <font color='blue'>Aula 06 - Estrutura Sequencial</font>

In [75]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.12.7

#### Pressione as teclas shift e enter para executar o código em uma célula ou pressione o botão Run no menu superior.

## <font color='blue'>Recapitulando</font>

In [77]:
# Soma
4 + 4

8

### Operações Aritméticas

In [79]:
# Subtração
4 - 3

1

In [81]:
# Multiplicação
3 * 3

9

In [83]:
# Divisão
3 / 2

1.5

In [85]:
# Potência
4 ** 2

16

In [87]:
# Módulo
10 % 3

1

### Função Type

In [89]:
type(5)

int

In [91]:
type(5.0)

float

In [93]:
a = 'Estou estudando na Fatec Votorantim'
type(a)

str

### Operações com Números Float

In [95]:
3.1 + 6.4

9.5

In [97]:
4 + 4.0

8.0

In [99]:
4 + 4

8

In [101]:
# Resultado é um número float
4 / 2

2.0

In [103]:
# Resultado é um número inteiro
4 // 2

2

In [105]:
4 / 3.0

1.3333333333333333

In [107]:
4 // 3.0

1.0

### Conversão

In [109]:
float(9)

9.0

In [111]:
int(6.0)

6

In [113]:
int(6.5)

6

In [115]:
int(6.6)

6

In [117]:
round(6.5)

6

In [119]:
round(6.6)

7

### Hexadecimal e Binário

In [121]:
hex(394)

'0x18a'

In [123]:
hex(217)

'0xd9'

In [125]:
bin(286)

'0b100011110'

In [127]:
bin(390)

'0b110000110'

### Funções abs, round e pow

In [129]:
# Retorna o valor absoluto
abs(-8)

8

In [131]:
# Retorna o valor absoluto
abs(8)

8

In [133]:
# Retorna o valor com duas casas decimais
round(3.14151922, 2)

3.14

In [135]:
# Potência
pow(4,2)

16

In [137]:
# Potência
pow(5,3)

125

### Trabalhando com Variáveis

In [139]:
# Atribuindo o valor 1 à variável var_teste
var_teste = 1

In [141]:
# Imprimindo o valor da variável
var_teste

1

In [143]:
# Imprimindo o valor da variável
print(var_teste)

1

In [145]:
# Não podemos utilizar uma variável que não foi definida. Leia a mensagem de erro.
my_var

NameError: name 'my_var' is not defined

In [147]:
var_teste = 2

In [151]:
var_teste

2

In [153]:
type(var_teste)

int

In [155]:
var_teste = 9.5

In [157]:
type(var_teste)

float

In [159]:
x = 1

In [161]:
x

1

### Declaração Múltipla

In [163]:
pessoa1, pessoa2, pessoa3 = "Bob", "Maria", "Ana"

In [165]:
pessoa1

'Bob'

In [167]:
pessoa2

'Maria'

In [169]:
pessoa3

'Ana'

In [181]:
fruta1 = fruta2 = fruta3 = "Melancia"

In [173]:
fruta1

'Melancia'

In [175]:
fruta2

'Melancia'

In [177]:
fruta3

'Melancia'

In [183]:
# Fique atento!!! Python é case-sensitive. Criamos a variável fruta2, mas não a variável Fruta2.
# Letras maiúsculas e minúsculas tem diferença no nome da variável.
Fruta2

NameError: name 'Fruta2' is not defined

> Pode-se usar letras, números e underline em nome de variável (mas não se pode começar com números).

In [185]:
x1 = 50

In [187]:
x1

50

In [189]:
# Mensagem de erro, pois a linguagem Python não permite nomes de variáveis que iniciem com números
1x = 50

SyntaxError: invalid decimal literal (319158066.py, line 2)

> Não se pode usar palavras reservadas como nome de variável

- False      
- class      
- finally    
- is         
- return
- None       
- continue   
- for        
- lambda     
- try
- True       
- def        
- from       
- nonlocal   
- while
- and        
- del        
- global     
- not        
- with
- as         
- elif       
- if         
- or         
- yield
- assert     
- else       
- import     
- pass
- break      
- except     
- in         
- raise

In [191]:
# Não podemos usar palavras reservadas como nome de variável
break = 1

SyntaxError: invalid syntax (103517557.py, line 2)

### Variáveis Atribuídas a Outras Variáveis e Ordem dos Operadores

In [194]:
largura = 2

In [196]:
altura = 4

In [198]:
area = largura * altura

In [200]:
area

8

In [202]:
perimetro = 2 * largura + 2 * altura

In [204]:
perimetro

12

In [206]:
# A ordem dos operadores é a mesma seguida na Matemática
perimetro = 2 * (largura + 2)  * altura

In [208]:
perimetro

32

### Operações com Variáveis

In [210]:
idade1 = 25

In [212]:
idade2 = 35

In [214]:
idade1 + idade2

60

In [216]:
idade2 - idade1

10

In [218]:
idade2 * idade1

875

In [222]:
idade2 / idade1
print(int(idade2 / idade1))

1

In [224]:
idade2 % idade1

10

### Concatenação de Variáveis

In [226]:
nome = "Bob"

In [228]:
sobrenome = "Marley"

In [230]:
fullName = nome + " " + sobrenome

In [232]:
fullName

'Bob Marley'

In [248]:
nome = "Alex"

In [250]:
sobrenome = "Fructos"

In [254]:
FullName = nome + "-"+ sobrenome

In [256]:
FullName

'Alex-Fructos'

### Criando uma String

Para criar uma string em Python você pode usar aspas simples ou duplas. Por exemplo:

In [234]:
# Uma única palavra
'Oi'

'Oi'

In [236]:
# Uma frase
'Criando uma string em Python'

'Criando uma string em Python'

In [238]:
# Podemos usar aspas duplas
"Podemos usar aspas duplas ou simples para strings em Python"

'Podemos usar aspas duplas ou simples para strings em Python'

In [240]:
# Você pode combinar aspas duplas e simples
"Testando strings em 'Python'"

"Testando strings em 'Python'"

### Imprimindo uma String

In [258]:
print ('Testando Strings em Python')

Testando Strings em Python

In [ ]:
print ('Testando \n Strings \n em \n Python')

In [260]:
print ('\n')

### Indexando Strings

In [262]:
# Atribuindo uma string
s = 'Projet pyPRO'

In [264]:
print(s)

Projet pyPRO

> Indexação em Python começar por zero.

In [266]:
# Primeiro elemento da string
s[0]

'P'

In [268]:
s[1]

'r'

In [270]:
s[2]

'o'

In [272]:
s[3]

'j'

In [274]:
s[4]

'e'

Podemos usar um : para executar um slicing que faz a leitura de tudo até um ponto designado. Por exemplo:

In [276]:
# Retorna todos os elementos da string, começando pela posição 
# (lembre-se que Python começa a indexação pela posição 0),
# até o fim da string.
s[1:]

'rojet pyPRO'

In [278]:
# A string original permanece inalterada
s

'Projet pyPRO'

In [280]:
# Retorna tudo até a posição de índice 3
s[:3]

'Pro'

In [282]:
# Retorna tudo até a posição de índice 4
s[:4]

'Proj'

In [288]:
# Nós também podemos usar a indexação negativa e ler de trás para frente
s[-1]

'O'

In [290]:
# Retornar tudo, exceto a última letra
s[:-1]

'Projet pyPR'

Nós também podemos usar a notação de índice e fatiar a string em pedaços específicos (o padrão é 1). 

Por exemplo, podemos usar dois pontos duas vezes em uma linha e, em seguida, um número que especifica a frequência para retornar elementos.

In [293]:
s[::1]

'Projet pyPRO'

In [297]:
s[::3]

'Pj P'

In [299]:
s[::-1]

'ORPyp tejorP'

### Propriedades de Strings

In [301]:
s

'Projet pyPRO'

In [305]:
# Alterando um caracter (não é possível alterar um elemento da string)
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [307]:
# Concatenando strings
s + ' é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

'Projet pyPRO é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

In [309]:
s = s + ' é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

In [311]:
print(s)

Projet pyPRO é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!

In [313]:
# Podemos usar o símbolo de multiplicação para criar repetição!
letra = 'w'

In [319]:
letra * 5

'wwwww'

## <font color='blue'>Estrutura Sequencial</font>

## Pseudocódigo 1 - Calcular a Área de Um Paralelograma

Nota: Um paralelogramo é um quadrilátero com lados opostos paralelos (e portanto ângulos opostos iguais). Um quadrilátero com lados iguais é chamado de losango e um paralelogramo cujos ângulos são todos ângulos retos é chamado de retângulo.

Inicie
    
    Exiba "Bem-vindo ao Calculador de Área de Paralelogramo"
    Peça para o usuário inserir o comprimento da base
    Armazene o comprimento da base em uma variável
    Peça para o usuário inserir a altura
    Armazene a altura em uma variável
    Calcule a área do paralelogramo:  base * altura
    Armazene o resultado em uma variável
    Exiba o resultado

    
Fim

In [15]:
base= float(input("Digite Base; "))
altura = float(input("Digite Altura:"))
area = base * altura
print(" A área é = ", area)

Digite Base;  5
Digite Altura: 5

 A área é =  25.0

## Convertendo o Pseudocódigo 1 em Programa Python

In [17]:
print("Bem-vindo ao Calculador de Área de Paralelogramo")

Bem-vindo ao Calculador de Área de Paralelogramo

In [19]:
base = float(input("Insira o comprimento da base: "))

Insira o comprimento da base:  5

In [21]:
altura = float(input("Insira a altura: "))

Insira a altura:  5

In [23]:
area = base * altura

In [25]:
print("A área do paralelogramo é: ", area)

A área do paralelogramo é:  25.0

### EXEMPLO 01
Calcular a área de um quadrilátero, com dois lados iguais. Para isso faz a leitura de dois números inteiros, representando os lados e imprime os valores lidos e a área calculada.

base, altura, area representam os nomes das variáveis – podem ser do tipo inteiro ou do tipo real.

In [27]:
base = float(input('Entre com a base:'))
altura = float(input('Entre com a altura:'))
area = base * altura
print('A área é = ', area)

Entre com a base: 5
Entre com a altura: 5

A área é =  25.0

## EXEMPLO 02
Ler a temperatura em °C e apresentar em °F. 

Dados : F=(9*C+160)/5.

In [29]:
celsius = float(input("Entre com a temperatura em C:"))
fare = (9 * celsius + 160) / 5
print("A temperatura em F = ", fare)

Entre com a temperatura em C: 32

A temperatura em F =  89.6

In [33]:
temp_C = float(input("Digite a Temperatura em Celsius:"))
temp_F =( 9 * temp_C + 160) / 5
print ("A temperatura certa é F: ",fare)

Digite a Temperatura em Celsius: 32

A temperatura certa é F:  89.6

In [35]:
## EXEMPLO 03
CALCULAR A DISTÂNCIA ENTRE 2 PONTOS.

SyntaxError: invalid syntax (1613466009.py, line 2)

![Figura](exemplo03.JPG)

In [39]:
from math import pow, sqrt

x1 = float(input("Entre com x1: "))
y1 = float(input("Entre com y1: "))
x2 = float(input("Entre com x2: "))
y2 = float(input("Entre com y2: "))
dx = x2 - x1
dy = y2 - y1
d = sqrt(pow(dx,2)+pow(dy,2))
print("Distância = ", d)

Entre com x1:  1
Entre com y1:  5
Entre com x2:  5
Entre com y2:  1

Distância =  5.656854249492381

## <font color='blue'>Exercícios</font>

1. Faça um programa para ler e escrever na tela o seu nome e a sua idade.

In [45]:
nome = "Alex Vitor Fructos"
idade = 47
print(nome," ", idade, "Anos")

Alex Vitor Fructos   47 Anos

2. Faça um programa para ler e escrever na tela o seu nome e a sua idade.

3. Faça um algoritmo que receba o ano de nascimento de uma pessoa e o ano atual e mostre:
A idade dessa pessoa em anos;
A idade dessa pessoa em meses;
A idade dessa pessoa em dias;
A idade dessa pessoa em semanas.

In [81]:
# importando a biblioteca

from datetime import datetime

# digitando sua data de nascimento
data_nasc = int(input( "Digite a data de nascimento :"))

# Obtendo o ano atual
ano_atual = datetime.now().year

Idade_Anos = (ano_atual - data_nasc)
Idade_Meses = ( Idade_Anos * 12)
Idade_Dias = (Idade_Anos * 365)
Idade_Semanas = (Idade_Anos *52)

# Exibindo as idades

print(f" Exibindo a idade em :")
print(f"{Idade_Anos} anos")
print(f"{Idade_Meses} meses")
print(f" {Idade_Dias } dias")
print(f" {Idade_Semanas} semanas")

Digite a data de nascimento : 2000

 Exibindo a idade em :
24 anos
288 meses
 8760 dias
 1248 semanas

4. Faça um algoritmo que receba o salário de um funcionário, calcule e mostre o novo salário, sabendo-se que este sofreu um aumento de 25%.

In [77]:
salario = float(input("Digite o Salário :"))
aumento = (salario * 0.25)
novo_salario = (salario + aumento)

print(f"Você recebeu um aumento de R$ {aumento :.2f}")
print(f"Seu novo Salário agora é R$ {novo_salario :.2f}")

Digite o Salário : 100

Você recebeu um aumento de R$ 25.00
Seu novo Salário agora é R$ 125.00

5. Faça um algoritmo que calcule e mostre a área de um círculo. Sabe-se que 
	Area= π * R2

	π = 3,115

In [89]:
import math  # Importa a biblioteca matemática para usar o valor de π

# Entrada: raio do círculo

raio = float(input("Digite o raio do círculo: "))
#pi = 3.115 definindo melho o pi atravez da biblioteca math.pi
area = math.pi * (raio **2)

print(f"A área do círculo com {raio} é {area :.2f}")

Digite o raio do círculo:  5

A área do círculo com 5.0 é 78.54

6. Cada degrau de uma escada tem Xcm de altura. Faça um algoritmo que receba a altura de cada degrau em cm e a altura que o usuário deseja alcançar subindo a escada (em metros). Faça as conversões, calcule e mostre quantos degraus o usuário deverá subir para atingir seu objetivo.

Obs: não se preocupe com a altura do usuário!

In [99]:
# Entrada: altura de cada degrau (em cm)

degrau_cm = float(input("Digite a altura de cada degrau (em cm): "))

# Entrada: altura desejada (em metros)

altura_m = float(input("Digite a altura que deseja alcançar (em metros): "))

# Conversão da altura desejada para centímetros
altura_cm = altura_m * 100

# Cálculo do número de degraus necessários
qtd_degraus = altura_cm / degrau_cm

# Exibindo o resultado
print(f"Para alcançar {altura_m:.2f} metros, você precisa subir aproximadamente {int(qtd_degraus)} degraus.")

Digite a altura de cada degrau (em cm):  20
Digite a altura que deseja alcançar (em metros):  2

Para alcançar 2.00 metros, você precisa subir aproximadamente 10 degraus.

## Fim da Aula 6